<DOCTYPE html!>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Watchable</title>
            <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

        </head>
    
        <body>
            <h1>
                Movies ratings
            </h1>
            <h2>
                This list belongs to {{name}}
            </h2>
            <p>path to css files: {{url_for('static', filename='css/styles.css')}}</p>
            <table>
                <tr>
                    <th>Movie</th>
                    <th>Rating</th>
                    <th>Comment</th>
                </tr>
                {%for movie, rating in movies.items()%}
                <tr>
                    <td>{{movie}}</td>
                    <td>{{rating}}</td>
                    {%if rating >= 3%}
                        <td style="color:seagreen">Great movie</td>
                    {%elif 3 > rating > 1.5%}
                        <td>Average movie</td>
                    {%else%}
                        <td style="color:red">Poor movie</td>
                    {%endif%}
                </tr>
                {%endfor%}
            </table>

        </body>
    </html>